services:
  # =========================
  # PostgreSQL (APP)
  # =========================
  postgres-app:
    image: postgres:15
    container_name: postgres-app
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pg_app_data:/var/lib/postgresql/data

  # =========================
  # PostgreSQL (KEYCLOAK)
  # =========================
  postgres-keycloak:
    image: postgres:15
    container_name: postgres-keycloak
    restart: unless-stopped
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak
    ports:
      - "5433:5432"
    volumes:
      - pg_keycloak_data:/var/lib/postgresql/data

  # =========================
  # Kafka (KRaft)
  # =========================
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    hostname: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  # =========================
  # Kafka Exporter
  # =========================
  kafka-exporter:
    image: danielqsj/kafka-exporter:latest
    container_name: kafka-exporter
    restart: unless-stopped
    command:
      - "--kafka.server=kafka:9092"
    ports:
      - "9308:9308"
    depends_on:
      - kafka

  # =========================
  # Postgres Exporter (APP DB)
  # =========================
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    restart: unless-stopped
    environment:
      DATA_SOURCE_NAME: "postgresql://admin:admin@postgres-app:5432/testdb?sslmode=disable"
    ports:
      - "9187:9187"
    depends_on:
      - postgres-app

  # =========================
  # Prometheus
  # =========================
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus.yaml:/etc/prometheus/prometheus.yml

  # =========================
  # Grafana
  # =========================
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - prometheus
      - loki

  # =========================
  # Loki
  # =========================
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    user: "10001:10001"
    volumes:
      - ./observability/loki-config.yaml:/etc/loki/loki-config.yaml
      - loki_data:/loki
    command:
      - "-config.file=/etc/loki/loki-config.yaml"
      - "-target=all"

  # =========================
  # Node Exporter
  # =========================
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  # =========================
  # Grafana Alloy
  # =========================
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    ports:
      - "9080:9080"
    volumes:
      - ./observability/alloy-config.yaml:/etc/alloy/alloy.yaml
      - /var/log:/var/log
    depends_on:
      - loki
      - prometheus

  # =========================
  # Keycloak
  # =========================
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    container_name: keycloak
    restart: unless-stopped
    command:
      - start-dev
      - --http-port=8180
    ports:
      - "8180:8180"
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-keycloak:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME: localhost
    depends_on:
      - postgres-keycloak

# =========================
# Volumes
# =========================
volumes:
  pg_app_data:
  pg_keycloak_data:
  loki_data:
